.About {
    margin-top: 60px;
}

.about-content {
    gap: 30px;
    display: flex;
    flex-wrap: wrap;
}

.about-content>div {
    width: 100%;
    max-width: 630px;
    border-radius: 20px;
    background: #FFFFFF;
    padding: 40px 20px 20px 20px;
    box-shadow: 0px 11px 51px rgba(0, 0, 0, 0.14);
}

.about-content>div h6 {
    font-size: 20px;
    color: #0F0E13;
    font-weight: 700;
    line-height: 30px;
}

.about-content>div p {
    font-size: 18px;
    color: #3F3E42;
    line-height: 32px;
}

/* Media Queries */
@media screen and (max-width: 991px) {
    .about-content {
        justify-content: center;
    }

    .about-content>div {
        max-width: 500px;
    }

    .about-content>div h6 {
        font-size: 18px;
        line-height: 30px;
    }

    .about-content>div p {
        font-size: 16px;
        line-height: 24px;
    }
}

@media screen and (max-width: 520px) {
    .About {
        margin-top: 30px;
    }

    .about-content>div {
        max-width: 400px;
        padding: 20px 10px;
    }

    .about-content>div h6 {
        font-size: 16px;
        line-height: 24px;
    }

    .about-content>div p {
        font-size: 14px;
        line-height: 20px;
    }
}