.Course::before {
    content: "";
    z-index: -1;
    width: 100%;
    height: 595px;
    position: absolute;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../../../assets/images/course-bg.png');
}

.Course .title h6 {
    font-size: 36px;
    font-weight: 600;
    line-height: 40px;
    text-align: center;
    padding: 53px 0 74px 0;
}

.Course .cards .card {
    width: 100%;
    margin: auto;
    max-width: 1070px;
    margin-bottom: 30px;
    border-radius: 20px;
    background: #FFFFFF;
    box-shadow: 0px 11px 51px rgba(0, 0, 0, 0.14);
}

.card .card-header {
    margin-top: 42px;
    background: none;
    border-bottom: none;
}

.card-header .Underline {
    width: 56px;
    margin: 0 auto;
}

.card .card-footer {
    display: flex;
    background: none;
    border-top: none;
    align-items: center;
    justify-content: center;
}

.card-header h6 {
    font-size: 24px;
    color: #007979;
    font-weight: 600;
    line-height: 32px;
    font-style: normal;
    text-align: center;
    font-family: 'Poppins';
}

.card-body {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-body p {
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    max-width: 808px;
    color: #3F3E42;
    line-height: 32px;
    font-style: normal;
    font-family: 'Poppins';
}

.card-footer a {
    font-size: 14px;
    font-weight: 400;
    color: #007979;
    line-height: 32px;
    font-style: normal;
    font-family: 'Poppins';
    text-decoration: underline;
}

/* Media Queries */
@media screen and (max-width: 1200px) {
    .Course .cards .card {
        max-width: 900px;
    }
}

@media screen and (max-width: 991px) {
    .Course::before {
        height: 800px;
    }

    .Course .cards .card {
        max-width: 600px;
    }
}

@media screen and (max-width: 768px) {
    .Course .cards .card {
        max-width: 470px;
    }
}

@media screen and (max-width: 520px) {
    .Course .title h6 {
        font-size: 18px;
        padding: 20px 10px;
        line-height: 30px;
    }

    .Course .cards .card {
        max-width: 280px;
    }

    .card .card-header {
        margin-top: 15px;
    }

    .card-header h6 {
        font-size: 18px;
        line-height: 25px;
    }

    .card-header .Underline {
        width: 80px;
    }

    .card-body p {
        font-size: 12px;
        max-width: 250px;
        line-height: 20px;
    }

    .card-footer a {
        font-size: 12px;
        line-height: 20px;
    }
}